/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f0f2f5;
    background-image: url('../img/banner-background.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
}

nav {
    background-color: #000000;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main p {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

section {
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
}

h1 {
    color: #386dff;
}

h2,
h3 {
    color: #000000;
}

h4 {
    color: #eae8f5;
}

.example {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}

.imagen {
    padding: 2px;
    margin: 2px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.option-title {
    font-weight: bold;
    margin-top: 10px;
    color: #333;
}

table {
    border: solid 2px #333;
    border-spacing: 10px;
    margin: 20px auto;
    background-color: #f9f9f9;
    border-collapse: separate;
}

th {
    background-color: #010aab;
    color: white;
    padding: 10px;
}

td {
    border: solid 1px #ddd;
    padding: 8px;
    text-align: center;
}

caption {
    font-size: 1.2em;
    margin: 10px;
    color: #333;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #eae8f5;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

.div-codigos {
    display: flex;
    gap: 50px;
    width: 100%;
    padding: 2px;
    margin: 2px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.div-codigos-tituloyfondo {
    display: flex;
    background-color: #f2f2f2;
    gap: 20px;
    width: 100%;
    padding: 2px;
    text-align: center;
    margin: 2px;
}

.registro {
    gap: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: center;
}

.registro label {
    display: block;
    margin-bottom: 1px;
    font-weight: bold;
    color: #1c1e21;
}

.registro input[type="text"],
.registro input[type="password"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #dddfe2;
    border-radius: 5px;
    font-size: 16px;
}

.registro input[type="submit"] {
    background-color: #1877f2;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10%;
    font-size: 16px;
    cursor: pointer;
}

.registro input[type="submit"]:hover {
    background-color: #166fe5;
}

img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin: 10px;
}

.ejemplo {
    background-color: #f0f0f0;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

.codigo {
    background-color: #34495e;
    color: #fff;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    overflow-x: auto;
    font-family: monospace;
}

.codigo span {
    color: #2ecc71;
}

.indice {
    margin-bottom: 20px;
    padding: 20px;
}

.indice a {
    display: block;
    margin-bottom: 5px;
}

a:hover {
    color: orange;
    text-decoration: underline;
}

a:active {
    color: blue;
}

q:lang(es) {
    quotes: "«" "»";
}

q:lang(en) {
    quotes: '"' '"';
}

.intro {
    text-align: center;
    margin-top: 20px;
    color: #1c1e21;
    font-size: 14px;
    max-width: 600px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.registro p {
    display: inline-block;
    margin: 0;
    margin-right: 10px;
}

.registro a {
    margin: 10px;
    text-decoration: none;
    color: #000000;
}

.registro a:hover {
    text-decoration: underline;
}

a img.imagenconlink {
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
}

.encabezadoindice {
    padding: 15px;
    text-align: left;
}

.encabezadoindice-titulo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #000000;
    margin: 0;
}